<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новый пароль</title>
</head>
<body>
    <h1>Добрый день {{username}}</h1>
    <p>Ваш новый пароль <b>{{password}}</b> <br>
        не забудьте его поменять в личном кабинете. <br>
        <a href="http://{{realm}}.localhost:3000/#/login">Войти на сайт</a></p>
</body>
</html>