doctype html
html(lang=language)
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // Title Of Site
        title Site title
        meta(name='description', content='Site description')
        meta(name='keywords', content='Site keywords')

        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

        // Standard Favicon
        link(rel='icon', type='image/x-icon', href='/favicon.png')
        // For non-Retina iPhone, iPod Touch, and Android 2.1+ devices:
        link(rel='apple-touch-icon-precomposed apple-touch-icon icon', sizes='57x57', href='/favicons/apple-touch-icon-57x57-precomposed.png')
        // iOS 7 devices:
        link(rel='apple-touch-icon-precomposed apple-touch-icon icon', sizes='60x60', href='/favicons/apple-touch-icon-60x60-precomposed.png')
        // For the iPad mini and the first- and second-generation iPad on iOS ≤ 6:
        link(rel='apple-touch-icon-precomposed apple-touch-icon icon', sizes='72x72', href='/favicons/apple-touch-icon-72x72-precomposed.png')
        // For the iPad mini and the first- and second-generation iPad on iOS ≥ 7:
        link(rel='apple-touch-icon-precomposed apple-touch-icon icon', sizes='76x76', href='/favicons/apple-touch-icon-76x76-precomposed.png')
        // For iPhone with high-resolution Retina display running iOS ≤ 6:
        link(rel='apple-touch-icon-precomposed apple-touch-icon icon', sizes='114x114', href='/favicons/apple-touch-icon-114x114-precomposed.png')
        // For iPhone with high-resolution Retina display running iOS ≥ 7:
        link(rel='apple-touch-icon-precomposed apple-touch-icon icon', sizes='120x120', href='/favicons/apple-touch-icon-120x120-precomposed.png')
        // For iPad with high-resolution Retina display running iOS ≤ 6:
        link(rel='apple-touch-icon-precomposed apple-touch-icon icon', sizes='144x144', href='/favicons/apple-touch-icon-144x144-precomposed.png')
        // For iPad with high-resolution Retina display running iOS ≥ 7:
        link(rel='apple-touch-icon-precomposed apple-touch-icon icon', sizes='152x152', href='/favicons/apple-touch-icon-152x152-precomposed.png')
        // For Android :
        link(rel='apple-touch-icon-precomposed apple-touch-icon icon', sizes='196x196', href='/favicons/apple-touch-icon-196x196-precomposed.png')
        // Opera Coast
        link(rel='apple-touch-icon-precomposed apple-touch-icon icon', sizes='228x228', href='/favicons/apple-touch-icon-228x228-precomposed.png')


    body
        block content
